.conct {
  display: flex;
  justify-content: center;
}
.contact {
  font-size: 60px;
  color: #FFF;
  font-weight: 400;
}
.contact2 {
  font-size: 50px;
  color: #FFF;
  font-weight: 400;
}
.form-c {
  height: 45px;
  width: 200px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  font-size: 13px;
  font-weight: 400;
  color: #FFF;
  letter-spacing: 0.05em;
  margin: 0.5em;
  background: transparent;
  text-transform: uppercase;
}
.form-c2 {
  height: 45px;
  width: 350px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  font-size: 13px;
  font-weight: 400;
  color: #FFF;
  letter-spacing: 0.05em;
  margin: 0.5em;
  background: transparent;
  text-transform: uppercase;
}
.boton-color3 {
  padding: 1em 1em;
  background: #0e1a2d;
  text-decoration: none;
  color: #FFF;
  margin-left: 10px;
  font-weight: 400;
  font-size: 25px;
  line-height: 0px;
  border: 2px solid #0e1a2d;
}
::-webkit-input-placeholder {
  color: #FFF;
}
.text-color {
  color: #FFF;
  font-size: 22px;
}
.text-color2 {
  color: #c3c3c3;
  font-size: 25px;
  margin-top: -40px;
}
.text-check {
  color: orange;
  margin-top: -3px;
}
.left {
  align-text: center;
  display: flex;
}
